body {
    background-color: black;
    color: rgb(0, 99, 18);
    font-family: monospace;
    display: inline;
}

.buttonA {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    border: 4px outset rgb(0, 99, 18);
    color: rgb(0, 99, 18);
    padding: 5px 8px;
    margin: 5px;
    margin-left: 350px;
}